<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <!-- Plugin CSS -->
  <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/creative.min.css" rel="stylesheet">
  <link href="static/css/mapstyles.css" rel="stylesheet"/>

  <!-- https://developers.google.com/maps/documentation/javascript/ -->
  <script src="https://maps.googleapis.com/maps/api/js?key={{ key | urlencode }}&v=3.exp"></script>

  <!-- http://jquery.com/ -->
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>

  <!-- http://getbootstrap.com/ -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- http://handlebarsjs.com/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

  <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="signin.css" rel="stylesheet">
  <style>
  #maps{
    background-image: image("static/img/header.jpg");
  }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/">The Clear Project</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
      </ul>
    </div>
  </div>
</nav>
<section class="bg-primary" id="maps">
      <div id="googleMap" style="width:100%;height:400px;"></div>
        <script src = "/static/js/maps.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLlGnDH8lP4MOvUgo16vxK149VX0x1PyQ&callback=myMap"></script>
</section>
<section><center>
  <h2>Your Pledge</h2>
  <br>
  <div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Where is it?</th>
        <th>What is it?</th>
        <th>When is it?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Dont know yet</td>
        <td>{{what}}</td>
        <td>{{when}}</td>
      </tr>
    </tbody>
  </table>
</div>
</center></section>
</body>
</html>
